/* common codes start*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.container{
    width: 1140px;
    margin: auto;
    padding: auto;
}
.row{
    display: flex;
    flex-wrap: nowrap;
}
h1{
    font-family:'Otomanopee One', sans-serif;
    font-size: 4rem;
    color: #f5da57;
}
h2{
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    color: #404040;
}
p{
    font-family: 'open sans', sans-serif;
    color: #252525;
}

/* common codes end */

/* banner part css start */
#banner{
    padding: 50px 0;
    background: url(../image/top-banner.png);
    background-repeat: no-repeat;
}
.webName{
    margin: 3rem 0;
}
.bnrContent{
    margin-right:100px;
}
.bnrImg {
    margin: auto;
}
.bnrImg img{
    height: 30rem;
    display: inline-block;
}
.bnrpara{
    margin: 30px 0;
}
.bnrContent h4{
    text-transform: uppercase;
    font-size: .75rem;
}
.bnrContent span{
    color: #f5da57;
    font-size: 1.5rem;
    background: #252525;
    padding: 0 10px;
    border-radius: 10px;
}
.mBtm{
    margin-bottom: 40px;
}
.commonBtn{
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient( #ec991d,#ff5e42);
    text-decoration: none;
    border: none;
    border-radius: 50px;
    font-weight: 800;
    cursor: pointer;
    transform: scale(1);
    transition: .4s;
}
.commonBtn:hover{
    transform: scale(2);
    box-shadow: 0 0 15px #eb9800;
}
/* banner part css end */

/* dream css part */
#dream{
    padding: 50px 0;
    background: url(../image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.drmImg{
    width: 50%;
    margin-right: 80px;
}
.drmImg img{
    width: 100%;
}
.drmContent{
    width: 50%;
    padding-right: 20px;
}
#dream h3{
    font-size: 2rem;
    text-transform: uppercase;
    color: #ff5e42;
    font-weight: 400;
    margin: 15px 0;
}
#dream p{
    margin-bottom: 50px;
}
/* dream part css end */

/* experience part css start */
#exp{
    padding: 50px 0;
}